.App-logo {
  height: 32px;
}

.active{
  font-weight: bold;
}

.required {
  font-weight: bold;
}

.providerParams {
  padding: 10px;
}

.padded {
  padding: 10px;
}

.debug-json {
  font-size: 60%;
}

.error {
  color: red;
}

.normal {
  display: block;
}

.hidden {
  display: none;
}

div.tab-body {
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.policy-help {
  font-size: 80%;
  font-weight: normal;
}

.new-policy-panel {
  background-color: #f0f0f0;
  padding: 10px;
}

#snapshot-path {
  width: 400px;
}

.version-info {
  padding-left: 10px;
  color: #aaa;
  font-size: 80%;
}