body {
  line-height: 1;
}

.popover {
  max-width: 1000px;
}

.elide {
  text-overflow: ellipsis;
}

.App-logo {
  height: 32px;
}

.active{
  font-weight: bold;
}

.label-help {
  padding-top: 4px;
  padding-bottom: 8px;
  color: #666;
  font-size: 90%;
}

.required {
  font-weight: bold;
}

.policyFieldColumn {
  margin-top: 4px;
}

.policyEffectiveValue {
  background-color: #fff;
}

.policyEditorHeader {
  font-size: 110%;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

.policyValue {
  background-color: #f8f8f8;
}

.policyField {
  font-weight: bold;
  color:#004;
}

.providerParams {
  padding: 10px;
}

.providerIcon {
  width: 120px;
  height: 100px;
  margin: 10px;
  vertical-align: middle;
}

.advancedOptions {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

.providerSpecificParams {
  background-color: #f0f0ff;
  border: 2px solid #ddd;
  padding: 10px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.debug-json {
  font-size: 80%;
}

.error {
  color: red;
}

.normal {
  display: block;
}

.hidden {
  display: none;
}

.accordion-button {
  padding: 10px;
  font-weight: bold;
}

.accordion-button.collapsed {
  padding: 10px;
  font-weight: bold;
  background-color: #f8f8ff;
}

div.tab-body {
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.policy-help {
  font-size: 80%;
  font-weight: normal;
}

.new-policy-panel {
  background-color: #f0f0f0;
  padding: 10px;
}

#snapshot-path {
  width: 400px;
}

.version-info {
  padding-left: 10px;
  color: #aaa;
  font-size: 80%;
}

#mountedPath {
  color: #444;
  width: 30em;
  background-color: #ccc;
  font-size: 12pt;
  padding: 4px;
  border: 1px solid #aaa;
}

.logs-table {
  background-color: #f8f8ff;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  overflow: auto;
  max-height: 400px;
}

.loglevel-0 { color: #444; } /* debug */
.loglevel-1 { color: black; } /* info */
.loglevel-2 { color: rgb(169, 112, 5); font-weight: bold;} /* warning */
.loglevel-3 { color: red; font-weight: bold; } /* error */

.counter-badge {
  font-size: 90%;
  margin: 2px;
}

.page-title {
  margin-left: 10px;
  font-weight: bold;
  height: 40px;
  font-size: 125%;
  vertical-align: text-bottom;
}

.nested-task {
  padding: 10px;
  padding-left: 40px;
}

.estimateResults {
  color: #008;
  font-size: 95%;
}

.list-actions {
  min-height: 40px;
}

.cli-equivalent {
  font-family: monospace;
}