version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: npm
    directory: "/app"
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directory: "/htmlui"
    schedule:
      interval: monthly
