.DS_Store
.git
.linterr.txt
.release/
.releases/
.tools/
.vscode/
*.cov
app/
docker/
compat-test/
dist/
examples/
htmlui
icons
id_kopia
known_hosts
kopia
kopia-*.tar.gz
kopia-*.zip
kopia.exe
Makefile.local.mk
playground/
resources/
site/
test_service_account.json
tools/
