.DS_Store
.release/
.releases/
compat-test/
coverage/
playground/
kopia-*.tar.gz
kopia-*.zip
*.cov
.vscode/
dist/
.tools/
tools/docker/bin-*
kopia
kopia.exe
Makefile.local.mk
.linterr.txt
test_service_account.json
id_kopia
known_hosts
node_modules/
.tmp.*
.boto
*.log
.logs/
*~
.creds*
coverage.txt
/vendor/
.screenshots/
.idea/
/.vs
