header {
  padding: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 32px;
  margin-bottom: 10px;
}

div.indented {
  padding-left: 30px;
}

span.title {
  font-size: 30px;
  vertical-align: baseline;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

div.tab-body {
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#logs {
  font-size: 11px;
  font-weight: bold;
  color: #000080;
  font-family: Consolas, 'Courier New', Courier, monospace;
}