+++
title = "Kopia"
linkTitle = "Kopia"

+++

{{< blocks/cover title="Fast and Secure Open-Source Backup" image_anchor="top" height="min" color="orange" >}}
<p class="lead mt-5"></p>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kopia/kopia/releases/">
		Releases <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="font-weight-bold h3 mt-5">Encrypted, Deduplicated, and Compressed Data Backups Using Your Own Cloud Storage</p>
</div>
{{< /blocks/cover >}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="Fast Encrypted Backups" %}}
With a scalable architecture, **Kopia** can back everything up from your laptops to servers and everything in between.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions Welcome!" url="https://github.com/kopia/kopia/blob/master/GOVERNANCE.md" %}}
We do a [Pull Request](https://github.com/kopia/kopia/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join The Conversation" url="https://slack.kopia.io" %}}
Find us on Slack to get started with using **Kopia**, discuss features and issues, meet the team, and more...
{{% /blocks/feature %}}


{{< /blocks/section >}}
