+++
title = "Kopia"
linkTitle = "Kopia"

+++

{{< blocks/cover title="Fast and Secure Open-Source Backup Software" image_anchor="top" height="min" color="primary" >}}
<p class="lead mt-5"></p>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/docs/installation/">
		Download
	</a>
	<br/>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://kopia.discourse.group">
		User Support Forum
	</a>
	<a class="btn btn-lg btn-success mr-3 mb-4" href="https://slack.kopia.io">
		Developer Discussion
	</a>
	<p class="font-weight-bold h3 mt-5">Encrypted, Compressed, and Deduplicated Backups Using the Cloud Storage You Pick.</p>
	<p>Supports GUI and CLI on Windows, macOS and Linux.</p>
</div>
{{< /blocks/cover >}}

{{< blocks/section type="row" >}}
<div class="col text-center">
<h2 class="text-center pb-3">Demo of Kopia's Command-Line Interface</h2>

View a recorded demo of Kopia using Google Cloud Storage with pluggable encryption and compression.

<script id="asciicast-299387" src="https://asciinema.org/a/299387.js" async></script>
</div>

{{< /blocks/section >}}

{{< blocks/section type="row" >}}
<div class="col text-center">
<h2 class="text-center pb-3">Demo of Kopia's Graphical User Interface</h2>

<p>Kopia comes with a user-friendly desktop app for Windows, macOS, and Linux which allows you to create snapshots, define policies, and restore files quickly.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/sHJjSpasWIo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{{< /blocks/section >}}

{{% blocks/section type="row" %}}

{{% blocks/feature icon="fa-lightbulb" title="Fast and Encrypted Backups" %}}
With a secure and scalable architecture, **Kopia** can back up everything from small laptops to large servers.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions Welcome!" url="https://github.com/kopia/kopia/blob/master/GOVERNANCE.md" %}}
We use a [Pull Request](https://github.com/kopia/kopia/pulls) contributions workflow on GitHub. New contributors and bug reports are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join The Conversation" %}}
Find us on [Slack](https://slack.kopia.io) to get started with using **Kopia**, discuss features and issues, meet the team, and more.
{{% /blocks/feature %}}


{{< /blocks/section >}}
