+++
title = "Kopia"
linkTitle = "Kopia"

+++

{{< blocks/cover title="Fast and secure open-source backup" image_anchor="top" height="min" color="orange" >}}
<p class="lead mt-5"></p>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kopia/kopia/releases/">
		Releases <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Manage secure backups of your PCs, Macs and servers using your own cloud storage.</p>
</div>
{{< /blocks/cover >}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="Fast encrypted backups" %}}
**Kopia** is an open source project. It is a new project, but with grand ambitions.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kopia/kopia/blob/master/GOVERNANCE.md" %}}
We do a [Pull Request](https://github.com/kopia/kopia/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join the conversation on Slack" url="https://slack.kopia.io" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
