{
    "version": "VERSION",
    "architecture": {
        "64bit": {
            "url": "https://github.com/SOURCE_REPO/releases/download/vVERSION/kopia-VERSION-windows-x64.zip",
            "bin": [
                "kopia-VERSION-windows-x64/kopia.exe"
            ],
            "hash": "HASH_WINDOWS_AMD64"
        }
    },
    "homepage": "https://kopia.io/",
    "license": "Apache-2.0",
    "description": "Fast and secure open source backup."
}