name: auto-merge

on:
  pull_request:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          # auto-merge rules are in /.github/auto-merge.yml
          github-token: ${{ secrets.AUTO_MERGE_TOKEN }}