name: Check PR Title
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
jobs:
  check:
    name: Check PR Title
    runs-on: ubuntu-latest
    steps:
    - uses: deepakputhraya/action-pr-title@077bddd7bdabd0d2b1b25ed0754c7e62e184d7ee
      with:
        regex: '^(feat|fix|breaking|build|chore|docs|style|refactor|test)\((ci|cli|deps-dev|deps|general|infra|kopiaui|lint|notifications|providers|repository|server|site|snapshots|testing|ui)\)!{0,1}: .*$'
