name: Check PR Title
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
jobs:
  check:
    name: Check PR Title
    runs-on: ubuntu-latest
    steps:
    - uses: deepakputhraya/action-pr-title@master
      with:
        regex: '^(feat|fix|breaking|build|chore|docs|style|refactor|test)\((kopiaui|cli|ui|repository|snapshots|server|providers|deps|deps-dev|site|ci|infra|notifications|general)\)!{0,1}: .*$'
