name: Compatibility Test
on:
  push:
    branches: [ master ]
    tags:
      - v*
  pull_request: {}
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  compat-test:
    name: Compat Test
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version-file: 'go.mod'
        check-latest: true
      id: go
    - name: Compat Test
      run: make compat-tests
    - name: Upload Logs
      uses: actions/upload-artifact@v3
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}