name: Endurance Test
on:
  push:
    branches: [ master, test/endurance ]
    tags:
      - v*
  schedule:
    # run every 6 hours
    - cron:  '12 */6 * * *'
  workflow_dispatch:
    inputs:
      ref:
        description: 'branch or git ref to use for the build'
        required: true
        default: 'test/endurance'

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  endurance-test:
    env:
      KOPIA_KEEP_LOGS: true
    name: Endurance Test
    if: ${{ github.repository == 'kopia/kopia' }}
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
        check-latest: true
      id: go
    - name: Endurance Tests
      run: make endurance-tests
    - name: Upload Logs
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}