name: Endurance Test
on:
  push:
    branches: [ master ]
    tags:
      - v*
  schedule:
    # run every 2 hours
    - cron:  '12 */2 * * *'
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  endurance-test:
    env:
      KOPIA_KEEP_LOGS: true
    name: Endurance Test
    if: ${{ github.repository == 'kopia/kopia' }}
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
      id: go
    - name: Endurance Tests
      run: make endurance-tests
    - name: Upload Logs
      uses: actions/upload-artifact@v3
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}