name: Stress Test
on:
  push:
    branches: [ master ]
    tags:
      - v*
  pull_request: {}
  schedule:
    # run every 2 hours
    - cron:  '12 */2 * * *'
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  stress-test:
    name: Stress Test
    if: ${{ github.repository == 'kopia/kopia' }}
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
    - name: Stress Test
      run: make stress-test
    - name: Upload Logs
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}