name: Volume Shadow Copy Test
on:
  push:
    branches: [ master ]
    tags:
      - v*
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  vss-test:
    name: Volume Shadow Copy Test
    runs-on: windows-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version-file: 'go.mod'
        check-latest: true
      id: go
    - name: Install gsudo
      shell: bash
      run: |
        choco install -y --no-progress gsudo
        echo "C:\tools\gsudo\Current" >> $GITHUB_PATH
    - name: Admin Test
      run: gsudo make os-snapshot-tests
    - name: Non-Admin Test
      run: gsudo -i Medium make os-snapshot-tests
    - name: Upload Logs
      uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
      with:
        name: logs
        path: .logs/**/*.log
        if-no-files-found: ignore
      if: ${{ always() }}
